// Base colors
$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$gallery: #eaeaea;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;

// Gray scale (dark to light)
$gray-darkest: #333;
$gray-dark: #444;
$gray-border: #555;
$dove-grey: #666;
$gray-medium: #777;
$grey: #888;
$gray-light: #999;
$silver-chalice: #aaa;
$gray-lighter: #ccc;
